.container {
  flex-grow: 1;
  margin: 16px;
  margin-bottom: 68px;
  border-top: 1px solid black;
}

.commentList > :not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.commentInput {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
