#root {
  font-family: sans-serif;
  min-width: 360px;
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}

#root > :first-child {
  padding-top: 64px;
  padding-bottom: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
